{% extends 'base.html' %}

{% block title %}
    Twishtar-Login
{% endblock%}
    

{% block content %}
     
    <div class="conainer-login">
    <form action="" class="login-form">
        {% csrf_token %}
        <div class="input-container">
            {{ form.username}}
        </div>  
        <div class="input-container">
            {{ form.password}}
        </div>
        <button type="submit" class="btn btn-login">
            Login
        </button>
    </form>
    
    </div>
   
        
{% endblock content %}
    